html {
font-family: System,sans-serif;
}

td {
background-color: gray;
}

input {
background-color: white;
}

tr {
width:60px;
font-family: System,sans-serif;
font-size: 100px;
text-align:center;
}

display {
width:100px;
font-family: System,sans-serif;
font-size: 100px;
text-align:right;
}
